Tier.Gui/Service References/CotizarService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CotizarService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="" namespace="http://schemas.datacontract.org/2004/07/Tier.Dto" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICotizarService_Empresa_RecuperarFiltrado_InputMessage">
    <wsdl:part name="parameters" element="tns:Empresa_RecuperarFiltrado" />
  </wsdl:message>
  <wsdl:message name="ICotizarService_Empresa_RecuperarFiltrado_OutputMessage">
    <wsdl:part name="parameters" element="tns:Empresa_RecuperarFiltradoResponse" />
  </wsdl:message>
  <wsdl:message name="ICotizarService_Empresa_Insertar_InputMessage">
    <wsdl:part name="parameters" element="tns:Empresa_Insertar" />
  </wsdl:message>
  <wsdl:message name="ICotizarService_Empresa_Insertar_OutputMessage">
    <wsdl:part name="parameters" element="tns:Empresa_InsertarResponse" />
  </wsdl:message>
  <wsdl:message name="ICotizarService_Empresa_Actualizar_InputMessage">
    <wsdl:part name="parameters" element="tns:Empresa_Actualizar" />
  </wsdl:message>
  <wsdl:message name="ICotizarService_Empresa_Actualizar_OutputMessage">
    <wsdl:part name="parameters" element="tns:Empresa_ActualizarResponse" />
  </wsdl:message>
  <wsdl:message name="ICotizarService_Empresa_Eliminar_InputMessage">
    <wsdl:part name="parameters" element="tns:Empresa_Eliminar" />
  </wsdl:message>
  <wsdl:message name="ICotizarService_Empresa_Eliminar_OutputMessage">
    <wsdl:part name="parameters" element="tns:Empresa_EliminarResponse" />
  </wsdl:message>
  <wsdl:message name="ICotizarService_Rol_RecuperarFiltros_InputMessage">
    <wsdl:part name="parameters" element="tns:Rol_RecuperarFiltros" />
  </wsdl:message>
  <wsdl:message name="ICotizarService_Rol_RecuperarFiltros_OutputMessage">
    <wsdl:part name="parameters" element="tns:Rol_RecuperarFiltrosResponse" />
  </wsdl:message>
  <wsdl:message name="ICotizarService_Rol_Insertar_InputMessage">
    <wsdl:part name="parameters" element="tns:Rol_Insertar" />
  </wsdl:message>
  <wsdl:message name="ICotizarService_Rol_Insertar_OutputMessage">
    <wsdl:part name="parameters" element="tns:Rol_InsertarResponse" />
  </wsdl:message>
  <wsdl:message name="ICotizarService_Rol_Actualizar_InputMessage">
    <wsdl:part name="parameters" element="tns:Rol_Actualizar" />
  </wsdl:message>
  <wsdl:message name="ICotizarService_Rol_Actualizar_OutputMessage">
    <wsdl:part name="parameters" element="tns:Rol_ActualizarResponse" />
  </wsdl:message>
  <wsdl:message name="ICotizarService_Rol_Eliminar_InputMessage">
    <wsdl:part name="parameters" element="tns:Rol_Eliminar" />
  </wsdl:message>
  <wsdl:message name="ICotizarService_Rol_Eliminar_OutputMessage">
    <wsdl:part name="parameters" element="tns:Rol_EliminarResponse" />
  </wsdl:message>
  <wsdl:message name="ICotizarService_Rol_ValidaNombre_InputMessage">
    <wsdl:part name="parameters" element="tns:Rol_ValidaNombre" />
  </wsdl:message>
  <wsdl:message name="ICotizarService_Rol_ValidaNombre_OutputMessage">
    <wsdl:part name="parameters" element="tns:Rol_ValidaNombreResponse" />
  </wsdl:message>
  <wsdl:message name="ICotizarService_ItemLista_RecuperarFiltros_InputMessage">
    <wsdl:part name="parameters" element="tns:ItemLista_RecuperarFiltros" />
  </wsdl:message>
  <wsdl:message name="ICotizarService_ItemLista_RecuperarFiltros_OutputMessage">
    <wsdl:part name="parameters" element="tns:ItemLista_RecuperarFiltrosResponse" />
  </wsdl:message>
  <wsdl:message name="ICotizarService_ItemLista_Insertar_InputMessage">
    <wsdl:part name="parameters" element="tns:ItemLista_Insertar" />
  </wsdl:message>
  <wsdl:message name="ICotizarService_ItemLista_Insertar_OutputMessage">
    <wsdl:part name="parameters" element="tns:ItemLista_InsertarResponse" />
  </wsdl:message>
  <wsdl:message name="ICotizarService_ItemLista_Actualizar_InputMessage">
    <wsdl:part name="parameters" element="tns:ItemLista_Actualizar" />
  </wsdl:message>
  <wsdl:message name="ICotizarService_ItemLista_Actualizar_OutputMessage">
    <wsdl:part name="parameters" element="tns:ItemLista_ActualizarResponse" />
  </wsdl:message>
  <wsdl:message name="ICotizarService_ItemLista_Eliminar_InputMessage">
    <wsdl:part name="parameters" element="tns:ItemLista_Eliminar" />
  </wsdl:message>
  <wsdl:message name="ICotizarService_ItemLista_Eliminar_OutputMessage">
    <wsdl:part name="parameters" element="tns:ItemLista_EliminarResponse" />
  </wsdl:message>
  <wsdl:message name="ICotizarService_ItemLista_ValidaNombre_InputMessage">
    <wsdl:part name="parameters" element="tns:ItemLista_ValidaNombre" />
  </wsdl:message>
  <wsdl:message name="ICotizarService_ItemLista_ValidaNombre_OutputMessage">
    <wsdl:part name="parameters" element="tns:ItemLista_ValidaNombreResponse" />
  </wsdl:message>
  <wsdl:message name="ICotizarService_Usuario_RecuperarFiltros_InputMessage">
    <wsdl:part name="parameters" element="tns:Usuario_RecuperarFiltros" />
  </wsdl:message>
  <wsdl:message name="ICotizarService_Usuario_RecuperarFiltros_OutputMessage">
    <wsdl:part name="parameters" element="tns:Usuario_RecuperarFiltrosResponse" />
  </wsdl:message>
  <wsdl:message name="ICotizarService_Usuario_Insertar_InputMessage">
    <wsdl:part name="parameters" element="tns:Usuario_Insertar" />
  </wsdl:message>
  <wsdl:message name="ICotizarService_Usuario_Insertar_OutputMessage">
    <wsdl:part name="parameters" element="tns:Usuario_InsertarResponse" />
  </wsdl:message>
  <wsdl:message name="ICotizarService_Usuario_Actualizar_InputMessage">
    <wsdl:part name="parameters" element="tns:Usuario_Actualizar" />
  </wsdl:message>
  <wsdl:message name="ICotizarService_Usuario_Actualizar_OutputMessage">
    <wsdl:part name="parameters" element="tns:Usuario_ActualizarResponse" />
  </wsdl:message>
  <wsdl:message name="ICotizarService_Usuario_Eliminar_InputMessage">
    <wsdl:part name="parameters" element="tns:Usuario_Eliminar" />
  </wsdl:message>
  <wsdl:message name="ICotizarService_Usuario_Eliminar_OutputMessage">
    <wsdl:part name="parameters" element="tns:Usuario_EliminarResponse" />
  </wsdl:message>
  <wsdl:message name="ICotizarService_Usuario_RestablecerClave_InputMessage">
    <wsdl:part name="parameters" element="tns:Usuario_RestablecerClave" />
  </wsdl:message>
  <wsdl:message name="ICotizarService_Usuario_RestablecerClave_OutputMessage">
    <wsdl:part name="parameters" element="tns:Usuario_RestablecerClaveResponse" />
  </wsdl:message>
  <wsdl:message name="ICotizarService_Usuario_CambiarClave_InputMessage">
    <wsdl:part name="parameters" element="tns:Usuario_CambiarClave" />
  </wsdl:message>
  <wsdl:message name="ICotizarService_Usuario_CambiarClave_OutputMessage">
    <wsdl:part name="parameters" element="tns:Usuario_CambiarClaveResponse" />
  </wsdl:message>
  <wsdl:message name="ICotizarService_Usuario_ValidaNombreUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:Usuario_ValidaNombreUsuario" />
  </wsdl:message>
  <wsdl:message name="ICotizarService_Usuario_ValidaNombreUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:Usuario_ValidaNombreUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="ICotizarService_Usuario_IniciarSesion_InputMessage">
    <wsdl:part name="parameters" element="tns:Usuario_IniciarSesion" />
  </wsdl:message>
  <wsdl:message name="ICotizarService_Usuario_IniciarSesion_OutputMessage">
    <wsdl:part name="parameters" element="tns:Usuario_IniciarSesionResponse" />
  </wsdl:message>
  <wsdl:message name="ICotizarService_Maquina_RecuperarFiltros_InputMessage">
    <wsdl:part name="parameters" element="tns:Maquina_RecuperarFiltros" />
  </wsdl:message>
  <wsdl:message name="ICotizarService_Maquina_RecuperarFiltros_OutputMessage">
    <wsdl:part name="parameters" element="tns:Maquina_RecuperarFiltrosResponse" />
  </wsdl:message>
  <wsdl:message name="ICotizarService_Maquina_Insertar_InputMessage">
    <wsdl:part name="parameters" element="tns:Maquina_Insertar" />
  </wsdl:message>
  <wsdl:message name="ICotizarService_Maquina_Insertar_OutputMessage">
    <wsdl:part name="parameters" element="tns:Maquina_InsertarResponse" />
  </wsdl:message>
  <wsdl:message name="ICotizarService_Maquina_Actualizar_InputMessage">
    <wsdl:part name="parameters" element="tns:Maquina_Actualizar" />
  </wsdl:message>
  <wsdl:message name="ICotizarService_Maquina_Actualizar_OutputMessage">
    <wsdl:part name="parameters" element="tns:Maquina_ActualizarResponse" />
  </wsdl:message>
  <wsdl:message name="ICotizarService_Maquina_Eliminar_InputMessage">
    <wsdl:part name="parameters" element="tns:Maquina_Eliminar" />
  </wsdl:message>
  <wsdl:message name="ICotizarService_Maquina_Eliminar_OutputMessage">
    <wsdl:part name="parameters" element="tns:Maquina_EliminarResponse" />
  </wsdl:message>
  <wsdl:message name="ICotizarService_Maquina_ValidaCodigo_InputMessage">
    <wsdl:part name="parameters" element="tns:Maquina_ValidaCodigo" />
  </wsdl:message>
  <wsdl:message name="ICotizarService_Maquina_ValidaCodigo_OutputMessage">
    <wsdl:part name="parameters" element="tns:Maquina_ValidaCodigoResponse" />
  </wsdl:message>
  <wsdl:message name="ICotizarService_Asesor_RecuperarFiltros_InputMessage">
    <wsdl:part name="parameters" element="tns:Asesor_RecuperarFiltros" />
  </wsdl:message>
  <wsdl:message name="ICotizarService_Asesor_RecuperarFiltros_OutputMessage">
    <wsdl:part name="parameters" element="tns:Asesor_RecuperarFiltrosResponse" />
  </wsdl:message>
  <wsdl:message name="ICotizarService_Asesor_Insertar_InputMessage">
    <wsdl:part name="parameters" element="tns:Asesor_Insertar" />
  </wsdl:message>
  <wsdl:message name="ICotizarService_Asesor_Insertar_OutputMessage">
    <wsdl:part name="parameters" element="tns:Asesor_InsertarResponse" />
  </wsdl:message>
  <wsdl:message name="ICotizarService_Asesor_Actualizar_InputMessage">
    <wsdl:part name="parameters" element="tns:Asesor_Actualizar" />
  </wsdl:message>
  <wsdl:message name="ICotizarService_Asesor_Actualizar_OutputMessage">
    <wsdl:part name="parameters" element="tns:Asesor_ActualizarResponse" />
  </wsdl:message>
  <wsdl:message name="ICotizarService_Asesor_Eliminar_InputMessage">
    <wsdl:part name="parameters" element="tns:Asesor_Eliminar" />
  </wsdl:message>
  <wsdl:message name="ICotizarService_Asesor_Eliminar_OutputMessage">
    <wsdl:part name="parameters" element="tns:Asesor_EliminarResponse" />
  </wsdl:message>
  <wsdl:message name="ICotizarService_Asesor_ValidaCodigo_InputMessage">
    <wsdl:part name="parameters" element="tns:Asesor_ValidaCodigo" />
  </wsdl:message>
  <wsdl:message name="ICotizarService_Asesor_ValidaCodigo_OutputMessage">
    <wsdl:part name="parameters" element="tns:Asesor_ValidaCodigoResponse" />
  </wsdl:message>
  <wsdl:message name="ICotizarService_Funcionalidad_RecuperarFiltros_InputMessage">
    <wsdl:part name="parameters" element="tns:Funcionalidad_RecuperarFiltros" />
  </wsdl:message>
  <wsdl:message name="ICotizarService_Funcionalidad_RecuperarFiltros_OutputMessage">
    <wsdl:part name="parameters" element="tns:Funcionalidad_RecuperarFiltrosResponse" />
  </wsdl:message>
  <wsdl:portType name="ICotizarService">
    <wsdl:operation name="Empresa_RecuperarFiltrado">
      <wsdl:input wsaw:Action="http://tempuri.org/ICotizarService/Empresa_RecuperarFiltrado" message="tns:ICotizarService_Empresa_RecuperarFiltrado_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICotizarService/Empresa_RecuperarFiltradoResponse" message="tns:ICotizarService_Empresa_RecuperarFiltrado_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Empresa_Insertar">
      <wsdl:input wsaw:Action="http://tempuri.org/ICotizarService/Empresa_Insertar" message="tns:ICotizarService_Empresa_Insertar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICotizarService/Empresa_InsertarResponse" message="tns:ICotizarService_Empresa_Insertar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Empresa_Actualizar">
      <wsdl:input wsaw:Action="http://tempuri.org/ICotizarService/Empresa_Actualizar" message="tns:ICotizarService_Empresa_Actualizar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICotizarService/Empresa_ActualizarResponse" message="tns:ICotizarService_Empresa_Actualizar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Empresa_Eliminar">
      <wsdl:input wsaw:Action="http://tempuri.org/ICotizarService/Empresa_Eliminar" message="tns:ICotizarService_Empresa_Eliminar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICotizarService/Empresa_EliminarResponse" message="tns:ICotizarService_Empresa_Eliminar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Rol_RecuperarFiltros">
      <wsdl:input wsaw:Action="http://tempuri.org/ICotizarService/Rol_RecuperarFiltros" message="tns:ICotizarService_Rol_RecuperarFiltros_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICotizarService/Rol_RecuperarFiltrosResponse" message="tns:ICotizarService_Rol_RecuperarFiltros_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Rol_Insertar">
      <wsdl:input wsaw:Action="http://tempuri.org/ICotizarService/Rol_Insertar" message="tns:ICotizarService_Rol_Insertar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICotizarService/Rol_InsertarResponse" message="tns:ICotizarService_Rol_Insertar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Rol_Actualizar">
      <wsdl:input wsaw:Action="http://tempuri.org/ICotizarService/Rol_Actualizar" message="tns:ICotizarService_Rol_Actualizar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICotizarService/Rol_ActualizarResponse" message="tns:ICotizarService_Rol_Actualizar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Rol_Eliminar">
      <wsdl:input wsaw:Action="http://tempuri.org/ICotizarService/Rol_Eliminar" message="tns:ICotizarService_Rol_Eliminar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICotizarService/Rol_EliminarResponse" message="tns:ICotizarService_Rol_Eliminar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Rol_ValidaNombre">
      <wsdl:input wsaw:Action="http://tempuri.org/ICotizarService/Rol_ValidaNombre" message="tns:ICotizarService_Rol_ValidaNombre_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICotizarService/Rol_ValidaNombreResponse" message="tns:ICotizarService_Rol_ValidaNombre_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ItemLista_RecuperarFiltros">
      <wsdl:input wsaw:Action="http://tempuri.org/ICotizarService/ItemLista_RecuperarFiltros" message="tns:ICotizarService_ItemLista_RecuperarFiltros_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICotizarService/ItemLista_RecuperarFiltrosResponse" message="tns:ICotizarService_ItemLista_RecuperarFiltros_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ItemLista_Insertar">
      <wsdl:input wsaw:Action="http://tempuri.org/ICotizarService/ItemLista_Insertar" message="tns:ICotizarService_ItemLista_Insertar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICotizarService/ItemLista_InsertarResponse" message="tns:ICotizarService_ItemLista_Insertar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ItemLista_Actualizar">
      <wsdl:input wsaw:Action="http://tempuri.org/ICotizarService/ItemLista_Actualizar" message="tns:ICotizarService_ItemLista_Actualizar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICotizarService/ItemLista_ActualizarResponse" message="tns:ICotizarService_ItemLista_Actualizar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ItemLista_Eliminar">
      <wsdl:input wsaw:Action="http://tempuri.org/ICotizarService/ItemLista_Eliminar" message="tns:ICotizarService_ItemLista_Eliminar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICotizarService/ItemLista_EliminarResponse" message="tns:ICotizarService_ItemLista_Eliminar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ItemLista_ValidaNombre">
      <wsdl:input wsaw:Action="http://tempuri.org/ICotizarService/ItemLista_ValidaNombre" message="tns:ICotizarService_ItemLista_ValidaNombre_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICotizarService/ItemLista_ValidaNombreResponse" message="tns:ICotizarService_ItemLista_ValidaNombre_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Usuario_RecuperarFiltros">
      <wsdl:input wsaw:Action="http://tempuri.org/ICotizarService/Usuario_RecuperarFiltros" message="tns:ICotizarService_Usuario_RecuperarFiltros_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICotizarService/Usuario_RecuperarFiltrosResponse" message="tns:ICotizarService_Usuario_RecuperarFiltros_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Usuario_Insertar">
      <wsdl:input wsaw:Action="http://tempuri.org/ICotizarService/Usuario_Insertar" message="tns:ICotizarService_Usuario_Insertar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICotizarService/Usuario_InsertarResponse" message="tns:ICotizarService_Usuario_Insertar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Usuario_Actualizar">
      <wsdl:input wsaw:Action="http://tempuri.org/ICotizarService/Usuario_Actualizar" message="tns:ICotizarService_Usuario_Actualizar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICotizarService/Usuario_ActualizarResponse" message="tns:ICotizarService_Usuario_Actualizar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Usuario_Eliminar">
      <wsdl:input wsaw:Action="http://tempuri.org/ICotizarService/Usuario_Eliminar" message="tns:ICotizarService_Usuario_Eliminar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICotizarService/Usuario_EliminarResponse" message="tns:ICotizarService_Usuario_Eliminar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Usuario_RestablecerClave">
      <wsdl:input wsaw:Action="http://tempuri.org/ICotizarService/Usuario_RestablecerClave" message="tns:ICotizarService_Usuario_RestablecerClave_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICotizarService/Usuario_RestablecerClaveResponse" message="tns:ICotizarService_Usuario_RestablecerClave_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Usuario_CambiarClave">
      <wsdl:input wsaw:Action="http://tempuri.org/ICotizarService/Usuario_CambiarClave" message="tns:ICotizarService_Usuario_CambiarClave_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICotizarService/Usuario_CambiarClaveResponse" message="tns:ICotizarService_Usuario_CambiarClave_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Usuario_ValidaNombreUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/ICotizarService/Usuario_ValidaNombreUsuario" message="tns:ICotizarService_Usuario_ValidaNombreUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICotizarService/Usuario_ValidaNombreUsuarioResponse" message="tns:ICotizarService_Usuario_ValidaNombreUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Usuario_IniciarSesion">
      <wsdl:input wsaw:Action="http://tempuri.org/ICotizarService/Usuario_IniciarSesion" message="tns:ICotizarService_Usuario_IniciarSesion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICotizarService/Usuario_IniciarSesionResponse" message="tns:ICotizarService_Usuario_IniciarSesion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Maquina_RecuperarFiltros">
      <wsdl:input wsaw:Action="http://tempuri.org/ICotizarService/Maquina_RecuperarFiltros" message="tns:ICotizarService_Maquina_RecuperarFiltros_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICotizarService/Maquina_RecuperarFiltrosResponse" message="tns:ICotizarService_Maquina_RecuperarFiltros_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Maquina_Insertar">
      <wsdl:input wsaw:Action="http://tempuri.org/ICotizarService/Maquina_Insertar" message="tns:ICotizarService_Maquina_Insertar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICotizarService/Maquina_InsertarResponse" message="tns:ICotizarService_Maquina_Insertar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Maquina_Actualizar">
      <wsdl:input wsaw:Action="http://tempuri.org/ICotizarService/Maquina_Actualizar" message="tns:ICotizarService_Maquina_Actualizar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICotizarService/Maquina_ActualizarResponse" message="tns:ICotizarService_Maquina_Actualizar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Maquina_Eliminar">
      <wsdl:input wsaw:Action="http://tempuri.org/ICotizarService/Maquina_Eliminar" message="tns:ICotizarService_Maquina_Eliminar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICotizarService/Maquina_EliminarResponse" message="tns:ICotizarService_Maquina_Eliminar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Maquina_ValidaCodigo">
      <wsdl:input wsaw:Action="http://tempuri.org/ICotizarService/Maquina_ValidaCodigo" message="tns:ICotizarService_Maquina_ValidaCodigo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICotizarService/Maquina_ValidaCodigoResponse" message="tns:ICotizarService_Maquina_ValidaCodigo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Asesor_RecuperarFiltros">
      <wsdl:input wsaw:Action="http://tempuri.org/ICotizarService/Asesor_RecuperarFiltros" message="tns:ICotizarService_Asesor_RecuperarFiltros_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICotizarService/Asesor_RecuperarFiltrosResponse" message="tns:ICotizarService_Asesor_RecuperarFiltros_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Asesor_Insertar">
      <wsdl:input wsaw:Action="http://tempuri.org/ICotizarService/Asesor_Insertar" message="tns:ICotizarService_Asesor_Insertar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICotizarService/Asesor_InsertarResponse" message="tns:ICotizarService_Asesor_Insertar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Asesor_Actualizar">
      <wsdl:input wsaw:Action="http://tempuri.org/ICotizarService/Asesor_Actualizar" message="tns:ICotizarService_Asesor_Actualizar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICotizarService/Asesor_ActualizarResponse" message="tns:ICotizarService_Asesor_Actualizar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Asesor_Eliminar">
      <wsdl:input wsaw:Action="http://tempuri.org/ICotizarService/Asesor_Eliminar" message="tns:ICotizarService_Asesor_Eliminar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICotizarService/Asesor_EliminarResponse" message="tns:ICotizarService_Asesor_Eliminar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Asesor_ValidaCodigo">
      <wsdl:input wsaw:Action="http://tempuri.org/ICotizarService/Asesor_ValidaCodigo" message="tns:ICotizarService_Asesor_ValidaCodigo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICotizarService/Asesor_ValidaCodigoResponse" message="tns:ICotizarService_Asesor_ValidaCodigo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Funcionalidad_RecuperarFiltros">
      <wsdl:input wsaw:Action="http://tempuri.org/ICotizarService/Funcionalidad_RecuperarFiltros" message="tns:ICotizarService_Funcionalidad_RecuperarFiltros_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICotizarService/Funcionalidad_RecuperarFiltrosResponse" message="tns:ICotizarService_Funcionalidad_RecuperarFiltros_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICotizarService" type="tns:ICotizarService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Empresa_RecuperarFiltrado">
      <soap:operation soapAction="http://tempuri.org/ICotizarService/Empresa_RecuperarFiltrado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Empresa_Insertar">
      <soap:operation soapAction="http://tempuri.org/ICotizarService/Empresa_Insertar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Empresa_Actualizar">
      <soap:operation soapAction="http://tempuri.org/ICotizarService/Empresa_Actualizar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Empresa_Eliminar">
      <soap:operation soapAction="http://tempuri.org/ICotizarService/Empresa_Eliminar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Rol_RecuperarFiltros">
      <soap:operation soapAction="http://tempuri.org/ICotizarService/Rol_RecuperarFiltros" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Rol_Insertar">
      <soap:operation soapAction="http://tempuri.org/ICotizarService/Rol_Insertar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Rol_Actualizar">
      <soap:operation soapAction="http://tempuri.org/ICotizarService/Rol_Actualizar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Rol_Eliminar">
      <soap:operation soapAction="http://tempuri.org/ICotizarService/Rol_Eliminar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Rol_ValidaNombre">
      <soap:operation soapAction="http://tempuri.org/ICotizarService/Rol_ValidaNombre" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ItemLista_RecuperarFiltros">
      <soap:operation soapAction="http://tempuri.org/ICotizarService/ItemLista_RecuperarFiltros" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ItemLista_Insertar">
      <soap:operation soapAction="http://tempuri.org/ICotizarService/ItemLista_Insertar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ItemLista_Actualizar">
      <soap:operation soapAction="http://tempuri.org/ICotizarService/ItemLista_Actualizar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ItemLista_Eliminar">
      <soap:operation soapAction="http://tempuri.org/ICotizarService/ItemLista_Eliminar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ItemLista_ValidaNombre">
      <soap:operation soapAction="http://tempuri.org/ICotizarService/ItemLista_ValidaNombre" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Usuario_RecuperarFiltros">
      <soap:operation soapAction="http://tempuri.org/ICotizarService/Usuario_RecuperarFiltros" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Usuario_Insertar">
      <soap:operation soapAction="http://tempuri.org/ICotizarService/Usuario_Insertar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Usuario_Actualizar">
      <soap:operation soapAction="http://tempuri.org/ICotizarService/Usuario_Actualizar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Usuario_Eliminar">
      <soap:operation soapAction="http://tempuri.org/ICotizarService/Usuario_Eliminar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Usuario_RestablecerClave">
      <soap:operation soapAction="http://tempuri.org/ICotizarService/Usuario_RestablecerClave" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Usuario_CambiarClave">
      <soap:operation soapAction="http://tempuri.org/ICotizarService/Usuario_CambiarClave" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Usuario_ValidaNombreUsuario">
      <soap:operation soapAction="http://tempuri.org/ICotizarService/Usuario_ValidaNombreUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Usuario_IniciarSesion">
      <soap:operation soapAction="http://tempuri.org/ICotizarService/Usuario_IniciarSesion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Maquina_RecuperarFiltros">
      <soap:operation soapAction="http://tempuri.org/ICotizarService/Maquina_RecuperarFiltros" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Maquina_Insertar">
      <soap:operation soapAction="http://tempuri.org/ICotizarService/Maquina_Insertar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Maquina_Actualizar">
      <soap:operation soapAction="http://tempuri.org/ICotizarService/Maquina_Actualizar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Maquina_Eliminar">
      <soap:operation soapAction="http://tempuri.org/ICotizarService/Maquina_Eliminar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Maquina_ValidaCodigo">
      <soap:operation soapAction="http://tempuri.org/ICotizarService/Maquina_ValidaCodigo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Asesor_RecuperarFiltros">
      <soap:operation soapAction="http://tempuri.org/ICotizarService/Asesor_RecuperarFiltros" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Asesor_Insertar">
      <soap:operation soapAction="http://tempuri.org/ICotizarService/Asesor_Insertar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Asesor_Actualizar">
      <soap:operation soapAction="http://tempuri.org/ICotizarService/Asesor_Actualizar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Asesor_Eliminar">
      <soap:operation soapAction="http://tempuri.org/ICotizarService/Asesor_Eliminar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Asesor_ValidaCodigo">
      <soap:operation soapAction="http://tempuri.org/ICotizarService/Asesor_ValidaCodigo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Funcionalidad_RecuperarFiltros">
      <soap:operation soapAction="http://tempuri.org/ICotizarService/Funcionalidad_RecuperarFiltros" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CotizarService">
    <wsdl:port name="BasicHttpBinding_ICotizarService" binding="tns:BasicHttpBinding_ICotizarService">
      <soap:address location="http://rjaspe-laptop:8001/Servicio/Tier.Services.CotizarService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>