Tier.Gui/Service References/CotizarService/service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Tier.Dto" />
  <xs:element name="Empresa_RecuperarFiltrado">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Tier.Dto" minOccurs="0" name="objFiltros" nillable="true" type="q1:Empresa" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Empresa_RecuperarFiltradoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Tier.Dto" minOccurs="0" name="Empresa_RecuperarFiltradoResult" nillable="true" type="q2:ArrayOfEmpresa" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Empresa_Insertar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Tier.Dto" minOccurs="0" name="obj" nillable="true" type="q3:Empresa" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Empresa_InsertarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Empresa_InsertarResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="idempresa" nillable="true" type="xs:unsignedByte" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Empresa_Actualizar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Tier.Dto" minOccurs="0" name="obj" nillable="true" type="q4:Empresa" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Empresa_ActualizarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Empresa_ActualizarResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Empresa_Eliminar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Tier.Dto" minOccurs="0" name="obj" nillable="true" type="q5:Empresa" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Empresa_EliminarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Empresa_EliminarResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Rol_RecuperarFiltros">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Tier.Dto" minOccurs="0" name="objFiltros" nillable="true" type="q6:Rol" />
        <xs:element minOccurs="0" name="objCompuesto" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Rol_RecuperarFiltrosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Tier.Dto" minOccurs="0" name="Rol_RecuperarFiltrosResult" nillable="true" type="q7:ArrayOfRol" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Rol_Insertar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Tier.Dto" minOccurs="0" name="obj" nillable="true" type="q8:Rol" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Rol_InsertarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Rol_InsertarResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="idrol" nillable="true" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Rol_Actualizar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Tier.Dto" minOccurs="0" name="obj" nillable="true" type="q9:Rol" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Rol_ActualizarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Rol_ActualizarResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Rol_Eliminar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Tier.Dto" minOccurs="0" name="obj" nillable="true" type="q10:Rol" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Rol_EliminarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Rol_EliminarResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Rol_ValidaNombre">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Tier.Dto" minOccurs="0" name="obj" nillable="true" type="q11:Rol" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Rol_ValidaNombreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Rol_ValidaNombreResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ItemLista_RecuperarFiltros">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Tier.Dto" minOccurs="0" name="objFiltros" nillable="true" type="q12:ItemLista" />
        <xs:element minOccurs="0" name="objCompuesto" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ItemLista_RecuperarFiltrosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Tier.Dto" minOccurs="0" name="ItemLista_RecuperarFiltrosResult" nillable="true" type="q13:ArrayOfItemLista" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ItemLista_Insertar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Tier.Dto" minOccurs="0" name="obj" nillable="true" type="q14:ItemLista" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ItemLista_InsertarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ItemLista_InsertarResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="iditemlista" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ItemLista_Actualizar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Tier.Dto" minOccurs="0" name="obj" nillable="true" type="q15:ItemLista" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ItemLista_ActualizarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ItemLista_ActualizarResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ItemLista_Eliminar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Tier.Dto" minOccurs="0" name="obj" nillable="true" type="q16:ItemLista" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ItemLista_EliminarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ItemLista_EliminarResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ItemLista_ValidaNombre">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Tier.Dto" minOccurs="0" name="obj" nillable="true" type="q17:ItemLista" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ItemLista_ValidaNombreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ItemLista_ValidaNombreResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Usuario_RecuperarFiltros">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Tier.Dto" minOccurs="0" name="objFiltros" nillable="true" type="q18:Usuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Usuario_RecuperarFiltrosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Tier.Dto" minOccurs="0" name="Usuario_RecuperarFiltrosResult" nillable="true" type="q19:ArrayOfUsuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Usuario_Insertar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Tier.Dto" minOccurs="0" name="obj" nillable="true" type="q20:Usuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Usuario_InsertarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Usuario_InsertarResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="idusuario" nillable="true" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Usuario_Actualizar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Tier.Dto" minOccurs="0" name="obj" nillable="true" type="q21:Usuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Usuario_ActualizarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Usuario_ActualizarResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Usuario_Eliminar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Tier.Dto" minOccurs="0" name="obj" nillable="true" type="q22:Usuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Usuario_EliminarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Usuario_EliminarResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Usuario_RestablecerClave">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Tier.Dto" minOccurs="0" name="obj" nillable="true" type="q23:Usuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Usuario_RestablecerClaveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Usuario_RestablecerClaveResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Usuario_CambiarClave">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Tier.Dto" minOccurs="0" name="obj" nillable="true" type="q24:Usuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Usuario_CambiarClaveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Usuario_CambiarClaveResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Usuario_ValidaNombreUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/Tier.Dto" minOccurs="0" name="obj" nillable="true" type="q25:Usuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Usuario_ValidaNombreUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Usuario_ValidaNombreUsuarioResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Usuario_IniciarSesion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/Tier.Dto" minOccurs="0" name="obj" nillable="true" type="q26:Usuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Usuario_IniciarSesionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/Tier.Dto" minOccurs="0" name="Usuario_IniciarSesionResult" nillable="true" type="q27:Sesion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Usuario_ActualizarMenuUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/Tier.Dto" minOccurs="0" name="obj" nillable="true" type="q28:Usuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Usuario_ActualizarMenuUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/Tier.Dto" minOccurs="0" name="Usuario_ActualizarMenuUsuarioResult" nillable="true" type="q29:Sesion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Maquina_RecuperarFiltros">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/Tier.Dto" minOccurs="0" name="objFiltros" nillable="true" type="q30:Maquina" />
        <xs:element minOccurs="0" name="objCompuesto" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Maquina_RecuperarFiltrosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/Tier.Dto" minOccurs="0" name="Maquina_RecuperarFiltrosResult" nillable="true" type="q31:ArrayOfMaquina" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Maquina_Insertar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/Tier.Dto" minOccurs="0" name="obj" nillable="true" type="q32:Maquina" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Maquina_InsertarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Maquina_InsertarResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="idmaquina" nillable="true" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Maquina_Actualizar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/Tier.Dto" minOccurs="0" name="obj" nillable="true" type="q33:Maquina" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Maquina_ActualizarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Maquina_ActualizarResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Maquina_Eliminar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/Tier.Dto" minOccurs="0" name="obj" nillable="true" type="q34:Maquina" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Maquina_EliminarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Maquina_EliminarResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Maquina_ValidaCodigo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/Tier.Dto" minOccurs="0" name="obj" nillable="true" type="q35:Maquina" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Maquina_ValidaCodigoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Maquina_ValidaCodigoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Maquina_RecuperarRutasProduccionFiltros">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/Tier.Dto" minOccurs="0" name="objFiltros" nillable="true" type="q36:RutaProduccion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Maquina_RecuperarRutasProduccionFiltrosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/Tier.Dto" minOccurs="0" name="Maquina_RecuperarRutasProduccionFiltrosResult" nillable="true" type="q37:ArrayOfRutaProduccion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Maquina_RecuperarVariacionesProduccionFiltros">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/Tier.Dto" minOccurs="0" name="objFiltros" nillable="true" type="q38:MaquinaVariacionProduccion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Maquina_RecuperarVariacionesProduccionFiltrosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/Tier.Dto" minOccurs="0" name="Maquina_RecuperarVariacionesProduccionFiltrosResult" nillable="true" type="q39:ArrayOfMaquinaVariacionProduccion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Maquina_RecuperarDatosPeriodicosFiltros">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/Tier.Dto" minOccurs="0" name="objFiltros" nillable="true" type="q40:MaquinaDatoPeriodico" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Maquina_RecuperarDatosPeriodicosFiltrosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/Tier.Dto" minOccurs="0" name="Maquina_RecuperarDatosPeriodicosFiltrosResult" nillable="true" type="q41:ArrayOfMaquinaDatoPeriodico" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Asesor_RecuperarFiltros">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/Tier.Dto" minOccurs="0" name="objFiltros" nillable="true" type="q42:Asesor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Asesor_RecuperarFiltrosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/Tier.Dto" minOccurs="0" name="Asesor_RecuperarFiltrosResult" nillable="true" type="q43:ArrayOfAsesor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Asesor_Insertar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/Tier.Dto" minOccurs="0" name="obj" nillable="true" type="q44:Asesor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Asesor_InsertarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Asesor_InsertarResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="idasesor" nillable="true" type="xs:unsignedByte" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Asesor_Actualizar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/Tier.Dto" minOccurs="0" name="obj" nillable="true" type="q45:Asesor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Asesor_ActualizarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Asesor_ActualizarResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Asesor_Eliminar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/Tier.Dto" minOccurs="0" name="obj" nillable="true" type="q46:Asesor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Asesor_EliminarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Asesor_EliminarResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Asesor_ValidaCodigo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/Tier.Dto" minOccurs="0" name="obj" nillable="true" type="q47:Asesor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Asesor_ValidaCodigoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Asesor_ValidaCodigoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Funcionalidad_RecuperarFiltros">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/Tier.Dto" minOccurs="0" name="objFiltros" nillable="true" type="q48:Funcionalidad" />
        <xs:element minOccurs="0" name="objCompuesto" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Funcionalidad_RecuperarFiltrosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/Tier.Dto" minOccurs="0" name="Funcionalidad_RecuperarFiltrosResult" nillable="true" type="q49:ArrayOfFuncionalidad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Periodo_RecuperarFiltros">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/Tier.Dto" minOccurs="0" name="objFiltros" nillable="true" type="q50:Periodo" />
        <xs:element minOccurs="0" name="objCompuesto" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Periodo_RecuperarFiltrosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/Tier.Dto" minOccurs="0" name="Periodo_RecuperarFiltrosResult" nillable="true" type="q51:ArrayOfPeriodo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Periodo_Insertar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/Tier.Dto" minOccurs="0" name="obj" nillable="true" type="q52:Periodo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Periodo_InsertarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Periodo_InsertarResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="idperiodo" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Periodo_Actualizar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/Tier.Dto" minOccurs="0" name="obj" nillable="true" type="q53:Periodo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Periodo_ActualizarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Periodo_ActualizarResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Periodo_Eliminar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/Tier.Dto" minOccurs="0" name="obj" nillable="true" type="q54:Periodo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Periodo_EliminarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Periodo_EliminarResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Periodo_ValidaNombre">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/Tier.Dto" minOccurs="0" name="obj" nillable="true" type="q55:Periodo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Periodo_ValidaNombreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Periodo_ValidaNombreResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Periodo_RecuperarParametrosPredefinidos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Periodo_RecuperarParametrosPredefinidosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Periodo_RecuperarParametrosPredefinidosResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Periodo_RecuperarParametrosFiltros">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/Tier.Dto" minOccurs="0" name="objFiltros" nillable="true" type="q56:Parametro" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Periodo_RecuperarParametrosFiltrosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/Tier.Dto" minOccurs="0" name="Periodo_RecuperarParametrosFiltrosResult" nillable="true" type="q57:ArrayOfParametro" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Cliente_RecuperarFiltros">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/Tier.Dto" minOccurs="0" name="objFiltros" nillable="true" type="q58:Cliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Cliente_RecuperarFiltrosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/Tier.Dto" minOccurs="0" name="Cliente_RecuperarFiltrosResult" nillable="true" type="q59:ArrayOfCliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Cliente_Insertar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/Tier.Dto" minOccurs="0" name="obj" nillable="true" type="q60:Cliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Cliente_InsertarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Cliente_InsertarResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="idcliente" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Cliente_Actualizar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.datacontract.org/2004/07/Tier.Dto" minOccurs="0" name="obj" nillable="true" type="q61:Cliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Cliente_ActualizarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Cliente_ActualizarResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Cliente_Eliminar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/Tier.Dto" minOccurs="0" name="obj" nillable="true" type="q62:Cliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Cliente_EliminarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Cliente_EliminarResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Cliente_ValidaNombre">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/Tier.Dto" minOccurs="0" name="obj" nillable="true" type="q63:Cliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Cliente_ValidaNombreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Cliente_ValidaNombreResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Pantone_RecuperarFiltros">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q64="http://schemas.datacontract.org/2004/07/Tier.Dto" minOccurs="0" name="objFiltros" nillable="true" type="q64:Pantone" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Pantone_RecuperarFiltrosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q65="http://schemas.datacontract.org/2004/07/Tier.Dto" minOccurs="0" name="Pantone_RecuperarFiltrosResult" nillable="true" type="q65:ArrayOfPantone" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Pantone_Insertar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q66="http://schemas.datacontract.org/2004/07/Tier.Dto" minOccurs="0" name="obj" nillable="true" type="q66:Pantone" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Pantone_InsertarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Pantone_InsertarResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="idpantone" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Pantone_Actualizar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q67="http://schemas.datacontract.org/2004/07/Tier.Dto" minOccurs="0" name="obj" nillable="true" type="q67:Pantone" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Pantone_ActualizarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Pantone_ActualizarResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Pantone_Eliminar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q68="http://schemas.datacontract.org/2004/07/Tier.Dto" minOccurs="0" name="obj" nillable="true" type="q68:Pantone" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Pantone_EliminarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Pantone_EliminarResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Pantone_ValidaColor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q69="http://schemas.datacontract.org/2004/07/Tier.Dto" minOccurs="0" name="obj" nillable="true" type="q69:Pantone" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Pantone_ValidaColorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Pantone_ValidaColorResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Pantone_ValidaNombre">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q70="http://schemas.datacontract.org/2004/07/Tier.Dto" minOccurs="0" name="obj" nillable="true" type="q70:Pantone" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Pantone_ValidaNombreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Pantone_ValidaNombreResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Troquel_RecuperarFiltros">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q71="http://schemas.datacontract.org/2004/07/Tier.Dto" minOccurs="0" name="objFiltros" nillable="true" type="q71:Troquel" />
        <xs:element minOccurs="0" name="objCompuesto" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Troquel_RecuperarFiltrosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q72="http://schemas.datacontract.org/2004/07/Tier.Dto" minOccurs="0" name="Troquel_RecuperarFiltrosResult" nillable="true" type="q72:ArrayOfTroquel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Troquel_Insertar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q73="http://schemas.datacontract.org/2004/07/Tier.Dto" minOccurs="0" name="obj" nillable="true" type="q73:Troquel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Troquel_InsertarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Troquel_InsertarResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="idtroquel" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Troquel_Actualizar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q74="http://schemas.datacontract.org/2004/07/Tier.Dto" minOccurs="0" name="obj" nillable="true" type="q74:Troquel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Troquel_ActualizarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Troquel_ActualizarResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Troquel_Eliminar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q75="http://schemas.datacontract.org/2004/07/Tier.Dto" minOccurs="0" name="obj" nillable="true" type="q75:Troquel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Troquel_EliminarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Troquel_EliminarResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Municipio_RecuperarFiltros">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q76="http://schemas.datacontract.org/2004/07/Tier.Dto" minOccurs="0" name="objFiltros" nillable="true" type="q76:Municipio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Municipio_RecuperarFiltrosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q77="http://schemas.datacontract.org/2004/07/Tier.Dto" minOccurs="0" name="Municipio_RecuperarFiltrosResult" nillable="true" type="q77:ArrayOfMunicipio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Municipio_Insertar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q78="http://schemas.datacontract.org/2004/07/Tier.Dto" minOccurs="0" name="obj" nillable="true" type="q78:Municipio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Municipio_InsertarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Municipio_InsertarResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Municipio_ValidaId">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q79="http://schemas.datacontract.org/2004/07/Tier.Dto" minOccurs="0" name="obj" nillable="true" type="q79:Municipio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Municipio_ValidaIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Municipio_ValidaIdResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Departamento_RecuperarFiltros">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q80="http://schemas.datacontract.org/2004/07/Tier.Dto" minOccurs="0" name="objFiltros" nillable="true" type="q80:Departamento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Departamento_RecuperarFiltrosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q81="http://schemas.datacontract.org/2004/07/Tier.Dto" minOccurs="0" name="Departamento_RecuperarFiltrosResult" nillable="true" type="q81:ArrayOfDepartamento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Departamento_Insertar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q82="http://schemas.datacontract.org/2004/07/Tier.Dto" minOccurs="0" name="obj" nillable="true" type="q82:Departamento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Departamento_InsertarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Departamento_InsertarResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Departamento_ValidaId">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q83="http://schemas.datacontract.org/2004/07/Tier.Dto" minOccurs="0" name="obj" nillable="true" type="q83:Departamento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Departamento_ValidaIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Departamento_ValidaIdResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Proveedor_RecuperarFiltros">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q84="http://schemas.datacontract.org/2004/07/Tier.Dto" minOccurs="0" name="objFiltros" nillable="true" type="q84:Proveedor" />
        <xs:element minOccurs="0" name="objCompuesto" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Proveedor_RecuperarFiltrosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q85="http://schemas.datacontract.org/2004/07/Tier.Dto" minOccurs="0" name="Proveedor_RecuperarFiltrosResult" nillable="true" type="q85:ArrayOfProveedor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Proveedor_Insertar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q86="http://schemas.datacontract.org/2004/07/Tier.Dto" minOccurs="0" name="obj" nillable="true" type="q86:Proveedor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Proveedor_InsertarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Proveedor_InsertarResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="idproveedor" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Proveedor_Actualizar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q87="http://schemas.datacontract.org/2004/07/Tier.Dto" minOccurs="0" name="obj" nillable="true" type="q87:Proveedor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Proveedor_ActualizarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Proveedor_ActualizarResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Proveedor_Eliminar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q88="http://schemas.datacontract.org/2004/07/Tier.Dto" minOccurs="0" name="obj" nillable="true" type="q88:Proveedor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Proveedor_EliminarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Proveedor_EliminarResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Proveedor_RecuperarLineasFiltros">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q89="http://schemas.datacontract.org/2004/07/Tier.Dto" minOccurs="0" name="objFiltros" nillable="true" type="q89:ProveedorLinea" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Proveedor_RecuperarLineasFiltrosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q90="http://schemas.datacontract.org/2004/07/Tier.Dto" minOccurs="0" name="Proveedor_RecuperarLineasFiltrosResult" nillable="true" type="q90:ArrayOfProveedorLinea" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insumo_RecuperarFiltros">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q91="http://schemas.datacontract.org/2004/07/Tier.Dto" minOccurs="0" name="objFiltros" nillable="true" type="q91:Insumo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insumo_RecuperarFiltrosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q92="http://schemas.datacontract.org/2004/07/Tier.Dto" minOccurs="0" name="Insumo_RecuperarFiltrosResult" nillable="true" type="q92:ArrayOfInsumo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insumo_Insertar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q93="http://schemas.datacontract.org/2004/07/Tier.Dto" minOccurs="0" name="obj" nillable="true" type="q93:Insumo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insumo_InsertarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Insumo_InsertarResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="idinsumo" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insumo_Actualizar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q94="http://schemas.datacontract.org/2004/07/Tier.Dto" minOccurs="0" name="obj" nillable="true" type="q94:Insumo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insumo_ActualizarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Insumo_ActualizarResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insumo_Eliminar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q95="http://schemas.datacontract.org/2004/07/Tier.Dto" minOccurs="0" name="obj" nillable="true" type="q95:Insumo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insumo_EliminarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Insumo_EliminarResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Producto_RecuperarFiltros">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q96="http://schemas.datacontract.org/2004/07/Tier.Dto" minOccurs="0" name="objFiltros" nillable="true" type="q96:Producto" />
        <xs:element minOccurs="0" name="objCompuesto" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Producto_RecuperarFiltrosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q97="http://schemas.datacontract.org/2004/07/Tier.Dto" minOccurs="0" name="Producto_RecuperarFiltrosResult" nillable="true" type="q97:ArrayOfProducto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Producto_Insertar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q98="http://schemas.datacontract.org/2004/07/Tier.Dto" minOccurs="0" name="obj" nillable="true" type="q98:Producto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Producto_InsertarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Producto_InsertarResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="idproducto" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Producto_Actualizar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q99="http://schemas.datacontract.org/2004/07/Tier.Dto" minOccurs="0" name="obj" nillable="true" type="q99:Producto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Producto_ActualizarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Producto_ActualizarResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Producto_Eliminar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q100="http://schemas.datacontract.org/2004/07/Tier.Dto" minOccurs="0" name="obj" nillable="true" type="q100:Producto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Producto_EliminarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Producto_EliminarResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Producto_ValidaReferenciaCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q101="http://schemas.datacontract.org/2004/07/Tier.Dto" minOccurs="0" name="obj" nillable="true" type="q101:Producto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Producto_ValidaReferenciaClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Producto_ValidaReferenciaClienteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Accesorio_RecuperarFiltros">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q102="http://schemas.datacontract.org/2004/07/Tier.Dto" minOccurs="0" name="objFiltros" nillable="true" type="q102:Accesorio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Accesorio_RecuperarFiltrosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q103="http://schemas.datacontract.org/2004/07/Tier.Dto" minOccurs="0" name="Accesorio_RecuperarFiltrosResult" nillable="true" type="q103:ArrayOfAccesorio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Accesorio_Insertar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q104="http://schemas.datacontract.org/2004/07/Tier.Dto" minOccurs="0" name="obj" nillable="true" type="q104:Accesorio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Accesorio_InsertarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Accesorio_InsertarResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="idaccesorio" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Accesorio_Actualizar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q105="http://schemas.datacontract.org/2004/07/Tier.Dto" minOccurs="0" name="obj" nillable="true" type="q105:Accesorio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Accesorio_ActualizarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Accesorio_ActualizarResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Accesorio_Eliminar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q106="http://schemas.datacontract.org/2004/07/Tier.Dto" minOccurs="0" name="obj" nillable="true" type="q106:Accesorio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Accesorio_EliminarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Accesorio_EliminarResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Accesorio_ValidaCodigo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q107="http://schemas.datacontract.org/2004/07/Tier.Dto" minOccurs="0" name="obj" nillable="true" type="q107:Accesorio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Accesorio_ValidaCodigoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Accesorio_ValidaCodigoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Cotizacion_RecuperarFiltros">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q108="http://schemas.datacontract.org/2004/07/Tier.Dto" minOccurs="0" name="objFiltros" nillable="true" type="q108:Cotizacion" />
        <xs:element minOccurs="0" name="objCompuesto" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Cotizacion_RecuperarFiltrosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q109="http://schemas.datacontract.org/2004/07/Tier.Dto" minOccurs="0" name="Cotizacion_RecuperarFiltrosResult" nillable="true" type="q109:ArrayOfCotizacion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Cotizacion_Insertar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q110="http://schemas.datacontract.org/2004/07/Tier.Dto" minOccurs="0" name="obj" nillable="true" type="q110:Cotizacion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Cotizacion_InsertarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Cotizacion_InsertarResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="idcotizacion" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Cotizacion_Actualizar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q111="http://schemas.datacontract.org/2004/07/Tier.Dto" minOccurs="0" name="obj" nillable="true" type="q111:Cotizacion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Cotizacion_ActualizarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Cotizacion_ActualizarResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Cotizacion_Eliminar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q112="http://schemas.datacontract.org/2004/07/Tier.Dto" minOccurs="0" name="obj" nillable="true" type="q112:Cotizacion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Cotizacion_EliminarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Cotizacion_EliminarResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Cotizacion_RecuperarDetalle">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q113="http://schemas.datacontract.org/2004/07/Tier.Dto" minOccurs="0" name="objFiltros" nillable="true" type="q113:CotizacionDetalle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Cotizacion_RecuperarDetalleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q114="http://schemas.datacontract.org/2004/07/Tier.Dto" minOccurs="0" name="Cotizacion_RecuperarDetalleResult" nillable="true" type="q114:ArrayOfCotizacionDetalle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Cotizacion_Cotizar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idproducto" type="xs:int" />
        <xs:element minOccurs="0" name="idperiodo" type="xs:int" />
        <xs:element minOccurs="0" name="idinsumoflete" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Cotizacion_CotizarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q115="http://schemas.datacontract.org/2004/07/Tier.Dto" minOccurs="0" name="Cotizacion_CotizarResult" nillable="true" type="q115:ArrayOfCotizacionDetalle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Cotizacion_RecuperarEscalas">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Cotizacion_RecuperarEscalasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q116="http://schemas.datacontract.org/2004/07/Tier.Dto" minOccurs="0" name="Cotizacion_RecuperarEscalasResult" nillable="true" type="q116:ArrayOfEsacala" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Pedido_RecuperarFiltros">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q117="http://schemas.datacontract.org/2004/07/Tier.Dto" minOccurs="0" name="objFiltros" nillable="true" type="q117:Pedido" />
        <xs:element minOccurs="0" name="objCompuesto" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Pedido_RecuperarFiltrosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q118="http://schemas.datacontract.org/2004/07/Tier.Dto" minOccurs="0" name="Pedido_RecuperarFiltrosResult" nillable="true" type="q118:ArrayOfPedido" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Pedido_Insertar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q119="http://schemas.datacontract.org/2004/07/Tier.Dto" minOccurs="0" name="obj" nillable="true" type="q119:Pedido" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Pedido_InsertarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Pedido_InsertarResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="idpedido" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Pedido_Actualizar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q120="http://schemas.datacontract.org/2004/07/Tier.Dto" minOccurs="0" name="obj" nillable="true" type="q120:Pedido" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Pedido_ActualizarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Pedido_ActualizarResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Pedido_Eliminar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q121="http://schemas.datacontract.org/2004/07/Tier.Dto" minOccurs="0" name="obj" nillable="true" type="q121:Pedido" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Pedido_EliminarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Pedido_EliminarResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Pedido_RecuperarDetalle">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q122="http://schemas.datacontract.org/2004/07/Tier.Dto" minOccurs="0" name="objFiltros" nillable="true" type="q122:PedidoDetalle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Pedido_RecuperarDetalleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q123="http://schemas.datacontract.org/2004/07/Tier.Dto" minOccurs="0" name="Pedido_RecuperarDetalleResult" nillable="true" type="q123:ArrayOfPedidoDetalle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Pedido_RecuperarXCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idCliente" type="xs:int" />
        <xs:element minOccurs="0" name="objCompuesto" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Pedido_RecuperarXClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q124="http://schemas.datacontract.org/2004/07/Tier.Dto" minOccurs="0" name="Pedido_RecuperarXClienteResult" nillable="true" type="q124:ArrayOfPedido" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Reportes_Cotizacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idCotizacion" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Reportes_CotizacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Reportes_CotizacionResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Cartera_RecuperarFiltros">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q125="http://schemas.datacontract.org/2004/07/Tier.Dto" minOccurs="0" name="objFiltros" nillable="true" type="q125:Cartera" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Cartera_RecuperarFiltrosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q126="http://schemas.datacontract.org/2004/07/Tier.Dto" minOccurs="0" name="Cartera_RecuperarFiltrosResult" nillable="true" type="q126:ArrayOfCartera" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Cartera_ActualizarCarteraLote">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q127="http://schemas.datacontract.org/2004/07/Tier.Dto" minOccurs="0" name="lst" nillable="true" type="q127:ArrayOfCartera" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Cartera_ActualizarCarteraLoteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Cartera_ActualizarCarteraLoteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Cartera_Actualizar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q128="http://schemas.datacontract.org/2004/07/Tier.Dto" minOccurs="0" name="obj" nillable="true" type="q128:Cliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Cartera_ActualizarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Cartera_ActualizarResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Cartera_Eliminar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q129="http://schemas.datacontract.org/2004/07/Tier.Dto" minOccurs="0" name="obj" nillable="true" type="q129:Cliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Cartera_EliminarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Cartera_EliminarResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Estilo_RecuperarFiltros">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q130="http://schemas.datacontract.org/2004/07/Tier.Dto" minOccurs="0" name="objFiltros" nillable="true" type="q130:Estilo" />
        <xs:element minOccurs="0" name="objCompuesto" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Estilo_RecuperarFiltrosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q131="http://schemas.datacontract.org/2004/07/Tier.Dto" minOccurs="0" name="Estilo_RecuperarFiltrosResult" nillable="true" type="q131:ArrayOfEstilo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Estilo_Insertar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q132="http://schemas.datacontract.org/2004/07/Tier.Dto" minOccurs="0" name="obj" nillable="true" type="q132:Estilo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Estilo_InsertarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Estilo_InsertarResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="idestilo" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Estilo_Actualizar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q133="http://schemas.datacontract.org/2004/07/Tier.Dto" minOccurs="0" name="obj" nillable="true" type="q133:Estilo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Estilo_ActualizarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Estilo_ActualizarResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Estilo_Eliminar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q134="http://schemas.datacontract.org/2004/07/Tier.Dto" minOccurs="0" name="obj" nillable="true" type="q134:Estilo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Estilo_EliminarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Estilo_EliminarResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Estilo_ValidaCodigo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q135="http://schemas.datacontract.org/2004/07/Tier.Dto" minOccurs="0" name="obj" nillable="true" type="q135:Estilo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Estilo_ValidaCodigoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Estilo_ValidaCodigoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Estilo_RecuperarPegues">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q136="http://schemas.datacontract.org/2004/07/Tier.Dto" minOccurs="0" name="objFiltros" nillable="true" type="q136:EstiloPegue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Estilo_RecuperarPeguesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q137="http://schemas.datacontract.org/2004/07/Tier.Dto" minOccurs="0" name="Estilo_RecuperarPeguesResult" nillable="true" type="q137:ArrayOfEstiloPegue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GestionComercial_ObtenerReporteGestionComercial">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GestionComercial_ObtenerReporteGestionComercialResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q138="http://schemas.datacontract.org/2004/07/Tier.Dto" minOccurs="0" name="GestionComercial_ObtenerReporteGestionComercialResult" nillable="true" type="q138:ReporteGestionComercial" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GestionComercial_ObtenerPedidosXAgrupacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="agrupacion" type="xs:unsignedByte" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GestionComercial_ObtenerPedidosXAgrupacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q139="http://schemas.datacontract.org/2004/07/Tier.Dto" minOccurs="0" name="GestionComercial_ObtenerPedidosXAgrupacionResult" nillable="true" type="q139:ArrayOfPedidoGestion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>