Tier.Gui/Service References/CotizarService/Tier.Dto.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Tier.Dto" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Tier.Dto" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Empresa">
    <xs:sequence>
      <xs:element minOccurs="0" name="activo" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="direccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idempresa" nillable="true" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="nit" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="razonsocial" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="representantelegal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="telefono" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="urilogo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Empresa" nillable="true" type="tns:Empresa" />
  <xs:complexType name="ArrayOfEmpresa">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Empresa" nillable="true" type="tns:Empresa" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmpresa" nillable="true" type="tns:ArrayOfEmpresa" />
  <xs:complexType name="Rol">
    <xs:sequence>
      <xs:element minOccurs="0" name="activo" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fechacreacion" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="idrol" nillable="true" type="xs:short" />
      <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="permisos" nillable="true" type="tns:ArrayOfPermiso" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Rol" nillable="true" type="tns:Rol" />
  <xs:complexType name="ArrayOfPermiso">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Permiso" nillable="true" type="tns:Permiso" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPermiso" nillable="true" type="tns:ArrayOfPermiso" />
  <xs:complexType name="Permiso">
    <xs:sequence>
      <xs:element minOccurs="0" name="accion_idaccion" nillable="true" type="xs:short" />
      <xs:element minOccurs="0" name="funcionalidad_idfuncionalidad" nillable="true" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="rol_idrol" nillable="true" type="xs:short" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Permiso" nillable="true" type="tns:Permiso" />
  <xs:complexType name="ArrayOfRol">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Rol" nillable="true" type="tns:Rol" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRol" nillable="true" type="tns:ArrayOfRol" />
  <xs:complexType name="ItemLista">
    <xs:sequence>
      <xs:element minOccurs="0" name="activo" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="grupo" nillable="true" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="iditemlista" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="idpadre" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="items" nillable="true" type="tns:ArrayOfItemLista" />
      <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ItemLista" nillable="true" type="tns:ItemLista" />
  <xs:complexType name="ArrayOfItemLista">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ItemLista" nillable="true" type="tns:ItemLista" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfItemLista" nillable="true" type="tns:ArrayOfItemLista" />
  <xs:complexType name="Usuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="activo" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="cargo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="celular" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="clave" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="correoelectronico" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="empresa_idempresa" nillable="true" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="fechacreacion" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="idusuario" nillable="true" type="xs:short" />
      <xs:element minOccurs="0" name="itemlista_iditemlistas_area" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="nombrecompleto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="rol_idrol" nillable="true" type="xs:short" />
      <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Usuario" nillable="true" type="tns:Usuario" />
  <xs:complexType name="ArrayOfUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Usuario" nillable="true" type="tns:Usuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUsuario" nillable="true" type="tns:ArrayOfUsuario" />
  <xs:complexType name="Sesion">
    <xs:sequence>
      <xs:element minOccurs="0" name="empresa" nillable="true" type="tns:Empresa" />
      <xs:element minOccurs="0" name="identificadorsesion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="menu" nillable="true" type="tns:ArrayOfFuncionalidad" />
      <xs:element minOccurs="0" name="rol" nillable="true" type="tns:Rol" />
      <xs:element minOccurs="0" name="usuario" nillable="true" type="tns:Usuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Sesion" nillable="true" type="tns:Sesion" />
  <xs:complexType name="ArrayOfFuncionalidad">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Funcionalidad" nillable="true" type="tns:Funcionalidad" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFuncionalidad" nillable="true" type="tns:ArrayOfFuncionalidad" />
  <xs:complexType name="Funcionalidad">
    <xs:sequence>
      <xs:element minOccurs="0" name="acciones" nillable="true" type="tns:ArrayOfAccion" />
      <xs:element minOccurs="0" name="activo" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="funcionalidades" nillable="true" type="tns:ArrayOfFuncionalidad" />
      <xs:element minOccurs="0" name="icono" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idfuncionalidad" nillable="true" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="idpadre" nillable="true" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="mvcaction" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mvccontroller" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="titulo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="uri" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="visible" nillable="true" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Funcionalidad" nillable="true" type="tns:Funcionalidad" />
  <xs:complexType name="ArrayOfAccion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Accion" nillable="true" type="tns:Accion" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAccion" nillable="true" type="tns:ArrayOfAccion" />
  <xs:complexType name="Accion">
    <xs:sequence>
      <xs:element minOccurs="0" name="activo" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="idaccion" nillable="true" type="xs:short" />
      <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Accion" nillable="true" type="tns:Accion" />
  <xs:complexType name="Maquina">
    <xs:sequence>
      <xs:element minOccurs="0" name="DatosPeriodicos" nillable="true" type="tns:ArrayOfMaquinaDatoPeriodico" />
      <xs:element minOccurs="0" name="VariacionesProduccion" nillable="true" type="tns:ArrayOfMaquinaVariacionProduccion" />
      <xs:element minOccurs="0" name="activo" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="anchomaxmp" nillable="true" type="xs:float" />
      <xs:element minOccurs="0" name="anchominmp" nillable="true" type="xs:float" />
      <xs:element minOccurs="0" name="areaancho" nillable="true" type="xs:float" />
      <xs:element minOccurs="0" name="arealargo" nillable="true" type="xs:float" />
      <xs:element minOccurs="0" name="codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="consumonominal" nillable="true" type="xs:float" />
      <xs:element minOccurs="0" name="empresa_idempresa" nillable="true" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="fechacreacion" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="idmaquina" nillable="true" type="xs:short" />
      <xs:element minOccurs="0" name="itemlista_iditemlistas_tipo" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="largomaxmp" nillable="true" type="xs:float" />
      <xs:element minOccurs="0" name="largominmp" nillable="true" type="xs:float" />
      <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="turnos" nillable="true" type="xs:unsignedByte" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Maquina" nillable="true" type="tns:Maquina" />
  <xs:complexType name="ArrayOfMaquinaDatoPeriodico">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MaquinaDatoPeriodico" nillable="true" type="tns:MaquinaDatoPeriodico" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMaquinaDatoPeriodico" nillable="true" type="tns:ArrayOfMaquinaDatoPeriodico" />
  <xs:complexType name="MaquinaDatoPeriodico">
    <xs:sequence>
      <xs:element minOccurs="0" name="activo" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="avaluocomercial" nillable="true" type="xs:float" />
      <xs:element minOccurs="0" name="idmaquinadatosperiodos" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="itemlista_iditemlista_tmunimed" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="maquina_empresa_idempresa" nillable="true" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="maquina_idmaquina" nillable="true" type="xs:short" />
      <xs:element minOccurs="0" name="periodo_idPeriodo" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="presupuesto" nillable="true" type="xs:float" />
      <xs:element minOccurs="0" name="tiempomtto" nillable="true" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MaquinaDatoPeriodico" nillable="true" type="tns:MaquinaDatoPeriodico" />
  <xs:complexType name="ArrayOfMaquinaVariacionProduccion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MaquinaVariacionProduccion" nillable="true" type="tns:MaquinaVariacionProduccion" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMaquinaVariacionProduccion" nillable="true" type="tns:ArrayOfMaquinaVariacionProduccion" />
  <xs:complexType name="MaquinaVariacionProduccion">
    <xs:sequence>
      <xs:element minOccurs="0" name="activo" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="idVariacion" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="itemlista_iditemlista_produnimed" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="itemlista_iditemlista_taunimed" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="maquina_empresa_idempresa" nillable="true" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="maquina_idmaquina" nillable="true" type="xs:short" />
      <xs:element minOccurs="0" name="produccioncant" nillable="true" type="xs:float" />
      <xs:element minOccurs="0" name="tiempoalistamiento" nillable="true" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MaquinaVariacionProduccion" nillable="true" type="tns:MaquinaVariacionProduccion" />
  <xs:complexType name="ArrayOfMaquina">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Maquina" nillable="true" type="tns:Maquina" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMaquina" nillable="true" type="tns:ArrayOfMaquina" />
  <xs:complexType name="Asesor">
    <xs:sequence>
      <xs:element minOccurs="0" name="activo" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="comision" nillable="true" type="xs:float" />
      <xs:element minOccurs="0" name="correoelectronico" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="empresa_idempresa" nillable="true" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="fechacreacion" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="idasesor" nillable="true" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="telefono" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Asesor" nillable="true" type="tns:Asesor" />
  <xs:complexType name="ArrayOfAsesor">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Asesor" nillable="true" type="tns:Asesor" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAsesor" nillable="true" type="tns:ArrayOfAsesor" />
  <xs:complexType name="Periodo">
    <xs:sequence>
      <xs:element minOccurs="0" name="fechafin" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechainicio" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="idPeriodo" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="vigente" nillable="true" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Periodo" nillable="true" type="tns:Periodo" />
  <xs:complexType name="ArrayOfPeriodo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Periodo" nillable="true" type="tns:Periodo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPeriodo" nillable="true" type="tns:ArrayOfPeriodo" />
</xs:schema>